<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-16" />
    <title>Barcelona Airbnb Map</title>
  <!-- Leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script rel="stylesheet" href="/static/leaflet-heat.js"></script>


  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/site.css">

  </head>
  <body>
    <h1>Barcelona Airbnb Map</h1>
    <h2> <a href="/api/v1.0/hosts">API</a> </h2>
    <table>
        <tbody>
          <tr>
            <td style="text-align: center; border: none">
              <div id="map-id" style="width: 800px; height: 600px; position: relative;" 
                class="leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0">
              </div>
            </td>
            <td></td>
          </tr>
          <tr><td style="text-align: center; border: none">
          </td></tr>
        </tbody>
      </table>  
      <div class="container">
          <div class="row margin-top-50">
            <div class="col-md-2">
              <aside class="filters">
                <div class="panel panel-default">
                  <div class="panel-heading">Filter Search</div>
                  <div class="panel-body">
                    <form>
                      <div class="form-group">
                        <ul class="list-group" id="filters">
                          <li class="filter list-group-item">
                            <input class="form-control" id="min-price">
                            <label for="date">Minimum Price (Euros)</label>
                          </li>
                          <li class="filter list-group-item">
                            <input class="form-control" id="max-price">
                            <label for="date">Maximum Price (Euros)</label>
                          </li>
                          <li class="filter list-group-item">
                            <input class="form-control" id="min-use">
                            <label for="date">Minimum Number of Nights of Use</label>
                          </li>
                          <li class="filter list-group-item">
                            <label for="date">Suite Type</label> <br>
                            <ul>
                              <input type="checkbox" id="entire"> Entire Home/Apartment <br>
                              <input type="checkbox" id="hotel"> Hotel Room <br>
                              <input type="checkbox" id="private"> Private Room <br>
                              <input type="checkbox" id="shared"> Shared Room
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <button id="filter-btn" type="button" class="btn btn-default">Apply Filter</button>
                      <button id="reset-btn" type="button" class="btn btn-default">Reset</button>
                    </form>
                  </div>
                </div>
              </aside>
            </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>    -->
    <script type="text/javascript" src="./static/js/config.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="./static/js/logic.js"></script> 
    

  </body>
</html>
